.coin_container {
    display: flex;
    justify-content: center;
}

.coin_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #2e2e2e;
    width: 1000px;
    padding: 0 2rem;
}

.coin_row:hover {
    background: rgb(254,215,232);
background: radial-gradient(circle, rgba(254,215,232,1) 0%, rgba(196,233,255,1) 100%);
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.coin_image {
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

.coin_name {
    font-size: 16px;
    widows: 150px;
}

.coin_symbol {
    text-transform: uppercase;
    padding-left: 100px;
}

.coin_data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.coin_price {
    width: 110px;
}

.coin_volume {
    width: 155px;
}

.coin_percent {
    width: 100px;
   
}

.red {
    color: #f00606;
}

.green {
    color: rgb(6, 180, 6); 
}

.coin_marketcap {
    width: 230px;
}
